USE [master]
GO
/****** Object:  Database [ParqueaderoSENA]    Script Date: 4/7/2026 3:11:27 PM ******/
CREATE DATABASE [ParqueaderoSENA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParqueaderoSENA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParqueaderoSENA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParqueaderoSENA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParqueaderoSENA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParqueaderoSENA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParqueaderoSENA]
GO
/****** Object:  Table [dbo].[Lados]    Script Date: 4/7/2026 3:11:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lados](
	[id_lado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupos]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupos](
	[id_lado] [int] NOT NULL,
	[ocupados] [int] NOT NULL,
	[ultima_actualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OcupacionActual]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTAS ÚTILES
-- ============================================================

-- Vista: ocupación actual por lado
CREATE   VIEW [dbo].[vw_OcupacionActual] AS
    SELECT
        l.nombre            AS lado,
        l.capacidad,
        c.ocupados,
        l.capacidad - c.ocupados AS disponibles,
        CAST(c.ocupados * 100.0 / l.capacidad AS DECIMAL(5,2)) AS porcentaje_ocupacion,
        c.ultima_actualizacion
    FROM dbo.Lados l
    JOIN dbo.Cupos c ON c.id_lado = l.id_lado;

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](120) NOT NULL,
	[tipo_id] [char](2) NULL,
	[numero_id] [varchar](20) NOT NULL,
	[email] [varchar](120) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[rol] [varchar](15) NULL,
	[id_centro] [int] NULL,
	[qr_code] [varchar](60) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposVehiculo]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposVehiculo](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[placa] [varchar](10) NULL,
	[modelo] [varchar](80) NULL,
	[color] [varchar](40) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[foto_url] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosUso]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosUso](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[id_lado] [int] NOT NULL,
	[fecha_entrada] [datetime] NOT NULL,
	[fecha_salida] [datetime] NULL,
	[duracion_min]  AS (case when [fecha_salida] IS NOT NULL then datediff(minute,[fecha_entrada],[fecha_salida])  end) PERSISTED,
	[estado] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HistorialUso]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: historial de uso con datos del usuario y vehículo
CREATE   VIEW [dbo].[vw_HistorialUso] AS
    SELECT
        r.id_registro,
        u.nombre_completo,
        u.numero_id,
        u.rol,
        tv.nombre           AS tipo_vehiculo,
        COALESCE(v.placa, v.modelo) AS identificador_vehiculo,
        v.color,
        l.nombre            AS lado,
        r.fecha_entrada,
        r.fecha_salida,
        r.duracion_min,
        r.estado
    FROM dbo.RegistrosUso r
    JOIN dbo.Usuarios      u  ON u.id_usuario  = r.id_usuario
    JOIN dbo.Vehiculos     v  ON v.id_vehiculo = r.id_vehiculo
    JOIN dbo.TiposVehiculo tv ON tv.id_tipo    = v.id_tipo
    JOIN dbo.Lados         l  ON l.id_lado     = r.id_lado;

GO
/****** Object:  View [dbo].[vw_VehiculosUsuario]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: vehículos activos con info del dueño
CREATE   VIEW [dbo].[vw_VehiculosUsuario] AS
    SELECT
        v.id_vehiculo,
        u.id_usuario,
        u.nombre_completo,
        u.rol,
        tv.nombre   AS tipo_vehiculo,
        v.placa,
        v.modelo,
        v.color,
        v.descripcion,
        v.foto_url,
        v.fecha_registro
    FROM dbo.Vehiculos v
    JOIN dbo.Usuarios      u  ON u.id_usuario = v.id_usuario
    JOIN dbo.TiposVehiculo tv ON tv.id_tipo   = v.id_tipo
    WHERE v.activo = 1;

GO
/****** Object:  Table [dbo].[CentrosFormacion]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentrosFormacion](
	[id_centro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[id_region] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_centro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regiones]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiones](
	[id_region] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokensSesion]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensSesion](
	[id_token] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[refresh_token] [varchar](255) NOT NULL,
	[expira_en] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentrosFormacion] ON 

INSERT [dbo].[CentrosFormacion] ([id_centro], [nombre], [id_region]) VALUES (1, N'Centro de Comercio – Bogotá D.C.', 1)
INSERT [dbo].[CentrosFormacion] ([id_centro], [nombre], [id_region]) VALUES (2, N'Centro de Construcción y Madera – Bogotá D.C.', 1)
INSERT [dbo].[CentrosFormacion] ([id_centro], [nombre], [id_region]) VALUES (3, N'Centro de Electricidad, Electrónica y Telecomunicaciones – Bogotá D.C.', 1)
SET IDENTITY_INSERT [dbo].[CentrosFormacion] OFF
GO
INSERT [dbo].[Cupos] ([id_lado], [ocupados], [ultima_actualizacion]) VALUES (1, 1, CAST(N'2026-04-07T13:53:33.407' AS DateTime))
INSERT [dbo].[Cupos] ([id_lado], [ocupados], [ultima_actualizacion]) VALUES (2, 0, CAST(N'2026-04-01T07:50:36.133' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Lados] ON 

INSERT [dbo].[Lados] ([id_lado], [nombre], [capacidad]) VALUES (1, N'A', 50)
INSERT [dbo].[Lados] ([id_lado], [nombre], [capacidad]) VALUES (2, N'B', 25)
SET IDENTITY_INSERT [dbo].[Lados] OFF
GO
SET IDENTITY_INSERT [dbo].[Regiones] ON 

INSERT [dbo].[Regiones] ([id_region], [nombre]) VALUES (5, N'Amazonía')
INSERT [dbo].[Regiones] ([id_region], [nombre]) VALUES (1, N'Andina')
INSERT [dbo].[Regiones] ([id_region], [nombre]) VALUES (2, N'Caribe')
SET IDENTITY_INSERT [dbo].[Regiones] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrosUso] ON 

INSERT [dbo].[RegistrosUso] ([id_registro], [id_usuario], [id_vehiculo], [id_lado], [fecha_entrada], [fecha_salida], [estado]) VALUES (1, 2, 1, 1, CAST(N'2026-03-24T16:56:20.550' AS DateTime), CAST(N'2026-03-24T18:16:27.910' AS DateTime), N'completado')
INSERT [dbo].[RegistrosUso] ([id_registro], [id_usuario], [id_vehiculo], [id_lado], [fecha_entrada], [fecha_salida], [estado]) VALUES (2, 2, 1, 1, CAST(N'2026-03-24T21:59:02.460' AS DateTime), CAST(N'2026-03-24T22:00:09.297' AS DateTime), N'completado')
INSERT [dbo].[RegistrosUso] ([id_registro], [id_usuario], [id_vehiculo], [id_lado], [fecha_entrada], [fecha_salida], [estado]) VALUES (3, 2, 1, 1, CAST(N'2026-03-25T13:34:46.060' AS DateTime), CAST(N'2026-03-27T15:32:12.187' AS DateTime), N'completado')
SET IDENTITY_INSERT [dbo].[RegistrosUso] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposVehiculo] ON 

INSERT [dbo].[TiposVehiculo] ([id_tipo], [nombre]) VALUES (1, N'bicicleta')
INSERT [dbo].[TiposVehiculo] ([id_tipo], [nombre]) VALUES (2, N'carro')
INSERT [dbo].[TiposVehiculo] ([id_tipo], [nombre]) VALUES (3, N'moto')
SET IDENTITY_INSERT [dbo].[TiposVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[TokensSesion] ON 

INSERT [dbo].[TokensSesion] ([id_token], [id_usuario], [refresh_token], [expira_en], [activo]) VALUES (1, 2, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c3VhcmlvIjoyLCJyb2wiOm51bGwsImVtYWlsIjpudWxsLCJpYXQiOjE3NzQwMjQ5MzgsImV4cCI6MTc3NDYyOTczOH0.2Mfw7-hD-ucuKnuobQXyMiN8EW00tfKUrKLFNsUUFeE', CAST(N'2026-03-27T16:42:18.900' AS DateTime), 0)
INSERT [dbo].[TokensSesion] ([id_token], [id_usuario], [refresh_token], [expira_en], [activo]) VALUES (2, 2, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c3VhcmlvIjoyLCJyb2wiOm51bGwsImVtYWlsIjpudWxsLCJpYXQiOjE3NzQwMjUwNTksImV4cCI6MTc3NDYyOTg1OX0.pQfA3OLZVcC39AKM7LIwn9GePnJT0EEOWjKxKFHSgKk', CAST(N'2026-03-27T16:44:19.733' AS DateTime), 1)
INSERT [dbo].[TokensSesion] ([id_token], [id_usuario], [refresh_token], [expira_en], [activo]) VALUES (3, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c3VhcmlvIjoxLCJyb2wiOiJhZG1pbiIsImVtYWlsIjoiYWRtaW5Ac2VuYS5lZHUuY28iLCJpYXQiOjE3NzQwMjU2OTgsImV4cCI6MTc3NDYzMDQ5OH0.iCYiE7FCXluOwDTnB7zXmKNCZdvJqkeT8MfPgrlfveA', CAST(N'2026-03-27T16:54:58.677' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[TokensSesion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre_completo], [tipo_id], [numero_id], [email], [password_hash], [rol], [id_centro], [qr_code], [activo], [fecha_registro]) VALUES (1, N'Jhorman Valencia', N'CC', N'0000000001', N'admin@sena.edu.co', N'$2a$10$QXlSuwKDneHb0sg6TZUxMeEZdDZ2ekABMHds07HAZyylyZXPoZ7YO', N'admin', NULL, N'USR-ADMIN-0001', 1, CAST(N'2026-03-19T23:44:31.733' AS DateTime))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_completo], [tipo_id], [numero_id], [email], [password_hash], [rol], [id_centro], [qr_code], [activo], [fecha_registro]) VALUES (2, N'Gabriel Ricardo Mejia Silva', N'CC', N'1066873062', NULL, N'$2a$10$/lv0JAhuQcPz/GZOW9f86ujn9YN1OZP4noOyWHQ4NIjJLXglBBH2C', N'admin', 44, N'USR-20260320-3062-DE3E5313', 1, CAST(N'2026-03-20T11:27:59.137' AS DateTime))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_completo], [tipo_id], [numero_id], [email], [password_hash], [rol], [id_centro], [qr_code], [activo], [fecha_registro]) VALUES (17, N'Ana venera jimenezz', N'CC', N'111223345', NULL, N'$2a$10$EjQG.RAK4LTZRPA7X38HUuiiLVfEm3ZC6Hn/SMoZOEbuVlkYhhzD6', N'aprendiz', 18, N'USR-20260324-3345-E503419B', 1, CAST(N'2026-03-24T16:13:08.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([id_vehiculo], [id_usuario], [id_tipo], [placa], [modelo], [color], [descripcion], [foto_url], [activo], [fecha_registro]) VALUES (1, 2, 1, NULL, N'Trek 234', N'verde', N'rin 32', NULL, 1, CAST(N'2026-03-24T13:42:27.963' AS DateTime))
INSERT [dbo].[Vehiculos] ([id_vehiculo], [id_usuario], [id_tipo], [placa], [modelo], [color], [descripcion], [foto_url], [activo], [fecha_registro]) VALUES (2, 2, 1, NULL, N'Trek 234', N'Verde', NULL, NULL, 0, CAST(N'2026-03-24T15:45:23.307' AS DateTime))
INSERT [dbo].[Vehiculos] ([id_vehiculo], [id_usuario], [id_tipo], [placa], [modelo], [color], [descripcion], [foto_url], [activo], [fecha_registro]) VALUES (3, 19, 1, NULL, N'Trek 234', N'Verde', N'Rinn 3', NULL, 0, CAST(N'2026-03-24T21:21:28.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lados__72AFBCC6AE2A107F]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[Lados] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Regiones__72AFBCC61F72FA0D]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[Regiones] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Registros_Estado]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Registros_Estado] ON [dbo].[RegistrosUso]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Registros_Usuario]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Registros_Usuario] ON [dbo].[RegistrosUso]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TiposVeh__72AFBCC6C8E28729]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[TiposVehiculo] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TokensSe__7FB69BADF14B5888]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[TokensSesion] ADD UNIQUE NONCLUSTERED 
(
	[refresh_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__5217C1FC6CBF68E9]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[numero_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E2FB888909A0953A]    Script Date: 4/7/2026 3:11:28 PM ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_NumeroId]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_NumeroId] ON [dbo].[Usuarios]
(
	[numero_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_email_notnull]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Usuarios_email_notnull] ON [dbo].[Usuarios]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_Usuario]    Script Date: 4/7/2026 3:11:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_Usuario] ON [dbo].[Vehiculos]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cupos] ADD  DEFAULT ((0)) FOR [ocupados]
GO
ALTER TABLE [dbo].[Cupos] ADD  DEFAULT (getdate()) FOR [ultima_actualizacion]
GO
ALTER TABLE [dbo].[Lados] ADD  DEFAULT ((25)) FOR [capacidad]
GO
ALTER TABLE [dbo].[RegistrosUso] ADD  DEFAULT (getdate()) FOR [fecha_entrada]
GO
ALTER TABLE [dbo].[RegistrosUso] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[TokensSesion] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[CentrosFormacion]  WITH CHECK ADD  CONSTRAINT [FK_Centro_Region] FOREIGN KEY([id_region])
REFERENCES [dbo].[Regiones] ([id_region])
GO
ALTER TABLE [dbo].[CentrosFormacion] CHECK CONSTRAINT [FK_Centro_Region]
GO
ALTER TABLE [dbo].[Cupos]  WITH CHECK ADD  CONSTRAINT [FK_Cupos_Lado] FOREIGN KEY([id_lado])
REFERENCES [dbo].[Lados] ([id_lado])
GO
ALTER TABLE [dbo].[Cupos] CHECK CONSTRAINT [FK_Cupos_Lado]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Lado] FOREIGN KEY([id_lado])
REFERENCES [dbo].[Lados] ([id_lado])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_Registro_Lado]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_Registro_Usuario]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculos] ([id_vehiculo])
GO
ALTER TABLE [dbo].[RegistrosUso] CHECK CONSTRAINT [FK_Registro_Vehiculo]
GO
ALTER TABLE [dbo].[TokensSesion]  WITH CHECK ADD  CONSTRAINT [FK_Token_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[TokensSesion] CHECK CONSTRAINT [FK_Token_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Centro] FOREIGN KEY([id_centro])
REFERENCES [dbo].[CentrosFormacion] ([id_centro])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Centro]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TiposVehiculo] ([id_tipo])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculo_Tipo]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculo_Usuario]
GO
ALTER TABLE [dbo].[RegistrosUso]  WITH CHECK ADD CHECK  (([estado]='cancelado' OR [estado]='completado' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([rol]='admin' OR [rol]='instructor' OR [rol]='funcionario' OR [rol]='aprendiz'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([tipo_id]='CC' OR [tipo_id]='TI'))
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [CHK_Placa] CHECK  (([id_tipo]=(1) OR [placa] IS NOT NULL))
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [CHK_Placa]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEntrada]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES
-- ============================================================

-- SP: Registrar entrada al parqueadero
CREATE   PROCEDURE [dbo].[sp_RegistrarEntrada]
    @id_usuario  INT,
    @id_vehiculo INT,
    @id_lado     INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que no tenga una entrada activa
    IF EXISTS (
        SELECT 1 FROM dbo.RegistrosUso
        WHERE id_usuario = @id_usuario AND estado = 'activo'
    )
    BEGIN
        RAISERROR('El usuario ya tiene una entrada activa.', 16, 1);
        RETURN;
    END

    -- Verificar capacidad
    IF EXISTS (
        SELECT 1 FROM dbo.Cupos c
        JOIN dbo.Lados l ON l.id_lado = c.id_lado
        WHERE c.id_lado = @id_lado AND c.ocupados >= l.capacidad
    )
    BEGIN
        RAISERROR('El lado seleccionado no tiene cupos disponibles.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
        INSERT INTO dbo.RegistrosUso (id_usuario, id_vehiculo, id_lado)
        VALUES (@id_usuario, @id_vehiculo, @id_lado);

        UPDATE dbo.Cupos
        SET ocupados = ocupados + 1,
            ultima_actualizacion = GETDATE()
        WHERE id_lado = @id_lado;
    COMMIT;

    SELECT SCOPE_IDENTITY() AS id_registro;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarSalida]    Script Date: 4/7/2026 3:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Registrar salida
CREATE   PROCEDURE [dbo].[sp_RegistrarSalida]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id_registro INT, @id_lado INT;

    SELECT TOP 1
        @id_registro = id_registro,
        @id_lado     = id_lado
    FROM dbo.RegistrosUso
    WHERE id_usuario = @id_usuario AND estado = 'activo'
    ORDER BY fecha_entrada DESC;

    IF @id_registro IS NULL
    BEGIN
        RAISERROR('No se encontró una entrada activa para este usuario.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
        UPDATE dbo.RegistrosUso
        SET fecha_salida = GETDATE(),
            estado       = 'completado'
        WHERE id_registro = @id_registro;

        UPDATE dbo.Cupos
        SET ocupados = CASE WHEN ocupados > 0 THEN ocupados - 1 ELSE 0 END,
            ultima_actualizacion = GETDATE()
        WHERE id_lado = @id_lado;
    COMMIT;

    SELECT @id_registro AS id_registro;
END

GO
USE [master]
GO
